<h1>LIST OF POSTS</h1>
<ul>
<% @posts.each do |post| %>
	<li>
		<p>
			<%= link_to post.title, post_path(post) %> created by <%= post.user.login %>
		</p>
		<spam>
			Post has <%= pluralize post.comments.count, 'comment' %> comments
		</spam>
	</li>
<% end %>
</ul>